// colors
$white: rgb(255, 255, 255);
$lightgrey: rgb(242, 242, 242);
$darkgrey: rgb(224, 224, 224);
$black: rgb(74, 74, 74);

// dimensions
$border-radius: 4px;
$basic-spacing: 0.5rem;

// animations
$transition-time: 0.15s;
