@import "./assets/scss/variables.scss";

body {
  min-width: 100vw;
  min-height: 100vh;

  background-color: $lightgrey;
}

.App {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.app-container {
  width: 100%;
  max-width: 25rem;
  margin-top: 2rem;
  padding: 1rem;
}

.search-box-container {
  padding: 1rem;

  border-radius: $border-radius;
  background-color: white;
}

.input {
  background-color: $lightgrey;
}
